html ,body{
  background-image: url("https://img.freepik.com/vector-premium/policia-transito-ayudando-nina-pequena-cruzar-calle_209620-251.jpg?w=2000");
  background-repeat: no-repeat;
    
    height: 100vp;
  
  
  }
.semaforo {
  background-color: black;
  border-radius: 10%;
  padding: 10px;
  display: inline-block;
  margin-top: 18vw;
  
}
.trafic{
    display: flex;
   
    justify-content: center;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
 
}

.red {
  background-color: rgba(255, 0, 0, 0.288);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.363)
}

.green {
  background-color: rgba(17, 194, 17, 0.616);
}

.purple{

  background-color: rgba(128, 0, 128, 0.623);
}

.glowred {
  background-color: red;
  box-shadow: 0px 0px 9px 4px #f80d04;
}

.glowyellow {
  background-color: yellow;
  box-shadow: 0px 0px 9px 4px yellow;
}

.glowgreen {
  background-color: rgb(33, 233, 33);
  box-shadow: 0px 0px 9px 4px rgb(10, 221, 10);
}


.glowpurple{

background-color: rgb(203, 46, 203);
box-shadow:0px 0px 9px 4px rgb(244, 22, 241);


}

.palo{

    background-color: black;
    width: 20px;
    height: 18vw;
    margin-left: 49vw;
    display: inline;
}

.butons{


  display: flex;
  
  justify-content:center;
 
}
button{
  margin: auto;
  margin-top: 10px;
}
